{{> header }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>This is the universe</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam expedita ipsa, corrupti consequuntur numquam, sint id voluptatum eum ratione, aliquid nihil repudiandae in? Vero, optio quibusdam rem illum obcaecati pariatur!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/imagen.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer }}